*.iml
.gradle/
.idea/
local.properties
build/
*/build/
captures/
.DS_Store
app/google-services.json
functions/lib/
functions/node_modules/
worker/node_modules/
worker/.wrangler/
.firebase/
firebase-debug.log
